body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.demo {
  width: 100vw;
  height: 100vh;
}

.ball {
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(72deg, cyan, magenta);
}

.debugtext {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  background: white;
}
